# This File Was copied from the rAPId Framework.
# Any modifications you make to this file will be overwritten
<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteCond %{REQUEST_URI} !^/index$
    RewriteRule ^(.*) index.php?url=$1 [L,QSA]

 </IfModule>